/* Estilos para el componente Favorites */
.favorites-list {
    list-style-type: none;
    padding: 0;
  }
  
  .favorite-item {
    margin-bottom: 10px;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .remove-button:hover {
    background-color: #c82333;
  }
  